<h1>About</h1>
<p>This application manages post-it notes.</p>
<p>With this application, you can: </p>
<ul>
    <li>Create a new post it note.</li>
    <li>Edit a post it note.</li>
    <li>Delete a post it note.</li>
    <li>View all post it notes.</li>
</ul>