<h1>Welcome to the Post It Note application!</h1>
<h3>Click <%= link_to 'HERE', notes_path %> to view all of the current notes. </h3>
<h3>Click <%= link_to 'HERE', new_note_path %> to create a new note!</h3>
